/* App.css */

.calculator {
  width: 600px;
  margin: 10px auto;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  /* Removed border property */
}

.display-box {
  position: relative;
  margin-bottom: 0px;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* Align content to the right */
}

.display {
  width: 100%;
  height: 80px;
  /* Increased height of the display box */
  font-size: 32px;
  /* Increased font size for better visibility */
  padding: 10px;
  box-sizing: border-box;
  background-color: #808080;
  color: white;
  border: none;
  outline: none;
  border-radius: 0;
  margin-bottom: 5px;
  /* Added margin for better spacing */
  text-align: right;
  /* Align text to the right */
}

.result {
  font-size: 24px;
  /* Decreased font size for better fit */
  color: white;
  margin-top: 5px;
  /* Added margin-top for better spacing */
  text-align: right;
  /* Align text to the right */
}

.buttons {
  display: grid;
  gap: 1px;
}

.top-buttons,
.number-buttons,
.operator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
}

button {
  width: 100%;
  height: 80px;
  font-size: 26px;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 0;
  cursor: pointer;
  box-sizing: border-box;
}

button.double-width {
  grid-column: span 2;
}

button.single-width {
  grid-column: span 1;
}

button.operator-button-orange {
  background-color: #ff8c00;
}

button.add::before {
  content: '+';
}

button.subtract::before {
  content: '-';
}

button.divide::before {
  content: '÷';
  /* Unicode character for division symbol */
}

button.multiply::before {
  content: '×';
  /* Unicode character for multiplication symbol */
}

button:active {
  background-color: #d3d3d3;
}